
.aside{
    position: absolute;
    top: 100px;
    right: 0px;
    width: 300px;
    min-height: 30px;
    overflow: hidden;

    .fa-shopping-cart{
        transition: color 0.3s;
        
    }

    .fa-shopping-cart:hover{
        color: #999;
    }

    .fa-shopping-cart:active{
        color: #464646;
    }

    .aside_p{
        display: inline-block;
        margin-right: 80px;
        margin-top: 20px;
    }

    .aside_hidden{
        display: none;
    }
    
}